# Insira a senha do seu usuário (padrão=root)
MYSQL_ROOT_PASSWORD=
# Insira o nome do banco de dados
MYSQL_DATABASE=
# Insira o nome de usuário do banco
MYSQL_USER=
# Insira a senha do usuário
MYSQL_PASSWORD=
